:root {
    /* color */
    --primary-color: rgba(255, 255, 255, 0.15);
    --btnElem: rgb(255, 255, 255);

    /* shadow */
    --box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);

    /* filter */
    --blur: blur(40px);

    /* border radius */
    --border-radius: 1em;
}

* {
    box-sizing: content-box;
    border-style: solid;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.12);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'arial', sans-serif;
    background-image: linear-gradient(to left, #00327e, #212f87, #3a298e, #521d92, #690093);
    color: white;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    font-size: 2em;
}


input, button {
    cursor: pointer;
    border-radius: 4px;
}

#nouvelleTache button {
    color: var(--btnElem);
    width: 50px;
    height: 50px;
}

#todoList { 
    width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: var(--primary-color);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
    box-shadow:  var(--box-shadow);
}

@media screen and (max-width: 600px){
    #todoList {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    display: none;
}

#nouvelleTache {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}


#nouvelleTache input {
    flex-grow: 1;
    cursor: text;
    padding-left: 15px;
    font-size: 1.2em;
    border-width: 1px;
    color: white;
    border-color: hsla(0, 0%, 100%, 0.5);
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    #nouvelleTache input {
        font-size: 1em;
    }
}

#nouvelleTache input::placeholder {
    color: rgba(255, 255, 255, 0.50);
}

#nouvelleTache input:focus {
    outline: none;
    box-shadow: none;
}

#nouvelleTache button {
    background-color: var(--primary-color);
    font-size: 2em;
}

#listeTache {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 600px){
    #listeTache {
        flex-grow: 1;
    }
}

#listeTache > div {
    background-color: rgba(255, 255, 255, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 4px;
}

#listeTache > div:hover{
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    #listeTache > div:hover{
        text-decoration: none;
    }
}

#listeTache > div button {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 1.2em;
}

#listeTache > div p {
    margin: 0;
    font-size: 1em;
}

.supprimer{
    background-color: rgba(255, 255, 255, 0.089);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#suprTout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top-width: 1px;
}

.btnToutSuppr {
    font-size: 1em;
    padding: 15px ;
    color: var(--btnElem);
    background-color: var(--primary-color);
}


#suprTout p {
    margin: 0;
    align-self: flex-end;
    font-size: 0.8em;
    opacity: 0.5;
}

#aide {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#btnAide {
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 1.4em;
}

@media screen and (max-width: 600px) {
    #aide {
        display: none;
    }
}

#aideModal {
    height: 250px;
    width: 200px;
    padding: 20px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
    display: none;
}

#aideModal h2 {
    margin:0;
    font-size: 1.2em;
}

#aideModal div {
    height: 100%;
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 15px;
}

#aideModal div div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aideModal div div:first-child i {
    color: rgba(255, 255, 255, 0.298);
    cursor: pointer;
}

#aideInfos {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
    border-top-width: 1px;
    padding-top: 5px;
}

#aideInfos p {
    margin: 0;
}

#aide > div:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
